/*scrolling madness*/

#g6dyn {
    overflow-y: scroll;
    padding: 5px;
    margin: 5px;
    height: 1800px;
}

#g6dyn .options {
    margin-left: 15px;
    margin-top: 15px;
}

#g6dyn .details {
    height: 200%;
}

#g6dyn .scrollForce {
    height: 200px;
}

/* rest */

#g6dyn .graph canvas {
    margin: 15px;
    border-radius: 10px 2px 1px;
}

.g6dyn-light .graph canvas {
    overflow: hidden;
    box-shadow: 4px 3px 2px #F5F5F5;
    border: 2px solid #838383;
}
.g6dyn-dark .graph canvas {
    overflow: hidden;
    box-shadow: 4px 3px 2px #1C0A10;
    border: 2px solid #575757;
}
